@font-face {
	font-family: "JostRegular";
	src: url(../fonts/Jost-Regular.woff2) format("woff2");
}

@font-face {
	font-family: "JostMedium";
	src: url(../fonts/Jost-Medium.woff2) format("woff2");
}

@font-face {
	font-family: "JostSemiBold";
	src: url(../fonts/Jost-SemiBold.woff2) format("woff2");
}

@font-face {
	font-family: "JostBold";
	src: url(../fonts/Jost-Bold.woff2) format("woff2");
}

@font-face {
	font-family: "JostBoldItalic";
	src: url(../fonts/Jost-BoldItalic.woff2) format("woff2");
}
